<br>
    <table border="0" id="listTable" cellspacing="0" cellpadding="0">
      <thead>
        <tr>
          <th style="text-align: left; padding-left: 8px; font-size: 14px; background-color: darkgray; color: white" colspan="6">
            商场列表
          </th>
        </tr>
        <tr>
          <th width="100" height="30">
            用户名
          </th>
          <th width="100">
            角色
          </th>
          <th width="100">
            商场名称
          </th>
          <th width="100">
            添加时间
          </th>
          <th width="100">
            修改时间
          </th>
          <th width="100">
            操作
          </th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |i| %>
            <tr>
              <td>
                <%= i.name %>
              </td>
              <td>
                <%= User::ROLES[i.role.to_sym] %>
              </td>
              <td>
                <%= i.mall.try(:name) %>
              </td>
              <td>
                <%= i.created_at.strftime("%Y-%m-%d %H:%M:%S") %>
              </td>
              <td>
                <%= i.updated_at.strftime("%Y-%m-%d %H:%M:%S") %>
              </td>
              <td>
                <a href="<%= edit_user_path(i)%>">修改</a>
                </td>
            </tr>
        <% end %>
      </tbody>
    </table>
    <div style="width: 90%">
        <input type="button" value="添加用户" onclick="doSwitchAction2(&#39;users/new&#39;)" style="margin-top: 10px; float: right"> 
    </div>
    <div id="dialog" title="用户管理">
    </div>