<br>
    <%= form_tag '/customers/search' do %>
      <table border="0" cellspacing="0" cellpadding="0" style="border: none; margin-bottom: 10px;">
        <tbody><tr>
          <td style="border: none;">
            商家分类：
          </td>
          <td style="border: none;">
            <%= select_tag '[customer][typeId]', options_from_collection_for_select(CustomerType.all, 'id', 'name'), include_blank: true %>
          </td>
          <!-- <td style="border: none;">
            首界面标志：
          </td>
          <td style="border: none;">
            <%#= select_tag '[customer][homepageLoc]', options_from_collection_for_select(Customer.select(:homepageLoc), 'homepageLoc', 'homepageLoc'), include_blank: true %>
          </td> -->
          <td style="border: none;">
            状态：
          </td>
          <td style="border: none;">
            <%= select_tag '[customer][obsolete]', options_for_select([['显示', 1],['隐藏', 0]]), style: 'width: 60px;' %>
          </td>
          <td style="border: none;">
            商家名称：
            <%= text_field_tag "[customer][name]" %>
          </td>
          <td style="border: none;">
            联系电话：
            <%= text_field_tag "[customer][phone]" %>
            <%= submit_tag "查询" %>
          </td>
        </tr>
        </tbody>
      </table>
    <% end %>

    <table border="0" id="listTable" cellspacing="0" cellpadding="0">
      <thead>
        <tr>
          <th style="text-align: left; padding-left: 8px; font-size: 14px; background-color: darkgray; color: white; border-right: 0px;" colspan="10">
            商家列表
          </th>
        </tr>
        <tr>
          <th width="150">商家名称</th>
          <th width="100">商家分类</th>
          <th width="150">商家位置</th>
          <th width="100">联系电话</th>
          <th width="120">首界面标志</th>
          <th width="80">状态</th>
          <th width="140">操作</th>
        </tr>
      </thead>
      <tbody>
        <% for i in @customers do %>
          <tr>
            <td><%= i.name %></td>
            <td><%= i.customer_type.try(:name) %></td>
            <td><%= i.address %></td>
            <td><%= i.phone %></td>
            <td><%= i.homepageLoc %></td>
            <td><%= i.obsolete ? '显示' : '隐藏' %></td>
            <td>
                <a href="<%= edit_customer_path i %>">修改</a>
                <a href="">商品</a>
                <a href="">活动</a>
              </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div style="width: 90%">
      <a href="javascript:;" onclick="doSwitchAction2(&#39;customers/new&#39;)">
        <input type="button" value="新增商家" style="margin-top: 10px; float: right">
      </a>
    </div>
    