<tbody>
  <tr>
    <td class="labelText">
      <%= form.label :loctype, '类型'%>
    </td>
    <td class="inputArea">
      <%= form.select :loctype, Homepageloc::LOCTYPE, {}, onchange: "homePageLocationSelect(this.value)"%>
      <font color="red">*</font>
    </td>
    <td class="labelText">
      <%= form.label :location, '位置' %>
    </td>
    <td class="">
      <%= form.select :location, Homepageloc.available_locations(current_mall.id, "A").map {|i| ['A' + i.to_s, i] } %>
      <font color="red">*</font>
    </td>
  </tr>
  <tr>
    <td class="labelText">
      <%= form.label :itemid, '内容' %>
    </td>
    <td class="inputArea">
      <%= form.select :itemid, Homepageloc.available_items(current_mall.id, 'A').map {|i| i.reverse } %>
      <font color="red">*</font>
    </td>
    <td class="labelText">
      示意图
    </td>
    <td class="inputArea">
      <input type="button" onclick="parent.window.homepagePicShow();" value="点击查看" style="width:60px;"/>
    </td>
  </tr>
</tbody>