<% breadcrumb('活动管理', '活动列表') %>
<br/>
<%= form_tag '/activities/search' do %>
  <table border="0" cellspacing="0" cellpadding="0" style="border: none; margin-bottom: 10px;">
    <tbody>
      <tr>
        <td style="border: none;">
          商家：
          <%= select_tag '[activity][customerId]', options_from_collection_for_select(Customer.all, 'id', 'name'), include_blank: true %>
        </td>
        <td style="border: none;">
          活动名称：
          <%= text_field_tag "[activity][name]" %>
        </td>
        <td style="border: none;">
          活动起始日期：
          <%= date_field_tag "[activity][startDate]" %>
        </td>
        <td style="border: none;">
          活动结束日期：
          <%= date_field_tag "[activity][endDate]" %>
        </td>
        <td style="border: none;">
          <%= submit_tag "查询" %>
        </td>
      </tr>
    </tbody>
  </table>
<% end %>
    
<table border="0" id="listTable" cellspacing="0" cellpadding="0">
  <thead>
    <tr style="border-bottom: 0px">
      <th style="text-align: left; padding-left: 8px; font-size: 14px; background-color: darkgray; color: white; border-right: 0px; border-bottom: 0px" colspan="10">
        活动列表
      </th>
    </tr>
    <tr>
      <th width="150">活动名称</th>
      <th width="100">商家</th>
      <th width="120">活动起始日期</th>
      <th width="120">活动结束日期</th>
      <th width="80">操作</th>
    </tr>
  </thead>
  <tbody>
    <% @activities.each do |i| %>
      <tr>
        <td><%= i.name %></td>
        <td><%= i.customer.try(:name) %></td>
        <td><%= i.startDate %></td>
        <td><%= i.endDate %></td>
        <td>
          <%= link_to '修改', edit_activity_path(i) %>
          <%= link_to("删除", activity_path(i), method: :delete, data: { confirm: '您确定要删除吗?' } ) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<div style="width: 90%">
  <a href="javascript:;" onclick="doSwitchAction(&#39;/activities/new&#39;,&#39;&#39;,&#39;活动管理&#39;,&#39;添加活动&#39;)">
  <input type="button" value="新增活动" style="margin-top: 10px; float: right">
  </a>
</div>
<div id="dialog" title="活动管理">
</div>